.button {
  padding: 18px 84px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  color: $color--white;
  background-color: $color--purple;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.25);
}

.button--link {
  display: block;
  text-decoration: none;
}
