.button {
  padding: 16px 84px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  color: $color--white;
  background-color: $color--purple;
  border: none;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.25);

  &:hover {
    background-color: #b22ec8;
  }

  &:focus {
    outline: 3px solid $color--green-hover;
  }

  &:active {
    background-color: rgba(106, 16, 122, 0.6);
  }
}

.button--link {
  display: block;
  max-width: min-content;
  text-decoration: none;
}

.button--intro {
  margin: auto;
  @media (min-width: $tablet-width) {
    margin: 0;
    padding-right: 104px;
    padding-left: 104px;
    font-size: 28px;
    line-height: normal;
    letter-spacing: 1.4px;
    transform: translateX(25px);
  }

  @media (min-width: $desktop-width) {
    transform: translateX(25%);
  }
}
