.button {
  padding: 18px 84px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fbfcfe;
  background-color: #6a107a;
  border-radius: 40px;
}

.button--link {
  display: block;
  text-decoration: none;
}
