.catalog {
  position: relative;
  padding: 62px 28px 100px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 100px 0 140px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 104px;
  }
}

.catalog::after {
  position: absolute;
  left: 46px;
  bottom: 0;
  right: 46px;
  text-align: center;
  content: url("../../images/line-leaf.svg");

  @media (min-width: $tablet-width) {
    transform: scale(1.3);
  }
}

.catalog__wrapper {
  max-width: 1128px;
  margin: auto;

  @media (min-width: $tablet-width) {
    padding-right: 94px;
    padding-left: 94px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "Comfortaa", "Century Gothic", sans-serif;
  font-size: 36px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  color: $color--green;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    font-size: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 92px;
    font-size: 52px;
  }
}

.catalog__list {
  @include list-style-clear;
  display: grid;
  gap: 24px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 52px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 52px 24px;
  }
}

.catalog__item {
  display: grid;
  grid-template-rows: 180px auto;
  gap: 28px;
  max-width: 264px;
  margin: auto;
  padding-bottom: 54px;
  color: $color--black;
  background-color: $color--white;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.15);
}

.catalog__item--extra {
  @media (max-width: $mobile-only) {
    display: none;
  }
}

.catalog__link-image {
  display: block;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: 3px solid $color--green-hover;
  }
}

.catalog__image {
  min-width: 100%;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.catalog__good-container {
  display: grid;
  grid-template-rows: min-content auto min-content;
  gap: 28px;
  align-items: start;
  padding-right: 15px;
  padding-left: 15px;
}

.catalog__item-title {
  margin: 0;
  font-family: "Raleway", "Calibri", sans-serif;
  font-size: 28px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  color: $color--green;
}

.catalog__link-title {
  padding: 10px;
  color: $color--green;
  text-decoration: none;

  &:hover {
    color: $color--green-hover;
  }

  &:focus {
    border-radius: 2px;
    outline: 2px solid $color--black;
  }

  &:active {
    color: $color--green;
    opacity: 0.5;
  }
}

.catalog__price-container {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}

.catalog__price,
.catalog__currency,
.catalog__weight {
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
}

.catalog__currency {
  margin-right: 17px;
}

.catalog__button {
  // margin-right: 20px;
  // margin-left: 24px;
  margin: auto;
  padding: 14px 64px;
  box-shadow: none;
}
