.contacts {
  max-width: 1440px;
  margin: auto;
  margin-bottom: 60px;
  padding-top: 80px;

  @media (min-width: $tablet-width) {
    margin-bottom: 95px;
    padding-top: 72px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
    margin-bottom: 80px;
    padding-top: 100px;
  }
}

.contacts--form {
  padding-top: 57px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-top: 71px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.contacts__wrapper {
  margin-bottom: 26px;
  padding-right: 37px;
  padding-left: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    padding-right: 122px;
    padding-left: 112px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    padding: 24px 165px 0 0;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "Comfortaa", "Century Gothic", sans-serif;
  font-size: 36px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  color: $color--green;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    font-size: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
    font-size: 52px;
  }
}

.contacts__text {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 45px;
  }
}

.contacts__list {
  @include list-style-clear;
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-width: fit-content;
  margin: auto;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    transform: translateX(-42px);
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    transform: translateX(-20px);
  }
}

.contacts__address {
  display: flex;
  gap: 13px;
  align-items: center;
  font-style: normal;
}

.contacts__address::before {
  content: url("../../images/icon-pin-leaf.svg");
}

.contacts__link {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 8px;
  padding-left: 3px;
  color: $color--black;
  text-decoration: none;

  &:hover {
    color: $color--green-hover;
  }

  &:focus {
    border-radius: 2px;
    outline: 2px solid $color--black;
  }

  &:active {
    color: $color--green;
  }
}

.contacts__link--phone::before {
  content: url("../../images/icon-phone.svg");
}

.contacts__link--email::before {
  content: url("../../images/icon-email.svg");
}

.contacts__link--phone:hover::before {
  content: url("../../images/icon-phone--hover.svg");
}

.contacts__link--phone:active::before {
  content: url("../../images/icon-phone--active.svg");
}

.contacts__link--email:hover::before {
  content: url("../../images/icon-email--hover.svg");
}

.contacts__link--email:active::before {
  content: url("../../images/icon-email--active.svg");
}

.contacts__map-container {
  border-radius: 40px;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 552px;
    justify-self: end;
  }
}

.contacts__map-container--nojs .contacts__map {
  display: none;
}

.contacts__map-picture {
  width: 100vw;
}

.contacts__map {
  width: 100vw;
  border: none;

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 100%;
    min-height: 372px;
  }
}
