.credits {
  display: flex;
  gap: 8px;
  align-items: center;
  max-width: 200px;
  padding: 8px;
  text-decoration: none;

  &:focus {
    border-radius: 2px;
    outline: 2px solid $color--black;
  }

  @media (min-width: $tablet-width) {
    gap: 11px;
    padding: 11px;
  }
}

.credits__text {
  font-size: 11px;
  line-height: normal;
  font-weight: 400;
  color: $color--black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.credits__icon {
  @media (min-width: $tablet-width) {
    transform: scale(1.3);
  }
}
