.footer {
  padding-top: 9px;
  padding-bottom: 20px;
  color: $color--black;
  background-color: $color--blue-gray;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }
}

.footer__wrapper {
  display: flex;
  align-items: center;
  row-gap: 2px;
  flex-wrap: wrap;
  padding-right: 26px;
  padding-left: 26px;

  @media (min-width: $tablet-width) {
    align-items: end;
    padding-left: 22px;
  }
}

.footer__logo {
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-right: 137px;
  }
}

.footer__credits {
  margin-left: auto;
  transform: translateX(8px);
}
