.form {
  max-width: 791px;
  margin: auto;
}

.form__fielset {
  @include fieldset-style-clear;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    padding-right: 45px;
    padding-left: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.form__fielset--storage {
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.form__fielset--delivery {
  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.form__fielset--contacts {
  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.form__legend {
  margin-bottom: 33px;
  padding: 0;
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  color: $color--green;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
    font-size: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.form__legend--contacts {
  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
    text-align: left;
  }
}

.form__legend--delivery {
  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.form__list {
  @include list-style-clear;
}

.form__list--berries {
  gap: 36px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: 26px 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(5, 1fr);
    gap: 24px 48px;
  }
}

.form__item--cherry {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.form__item--blueberry {
  grid-row: 3 / 4;
  grid-column: 1 / 2;

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

.form__item--blackberry {
  grid-row: 4 / 5;
  grid-column: 1 / 2;

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}

.form__item--strawberry {
  grid-row: 5 / 6;
  grid-column: 1 / 2;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }
}

.form__item--cranberry {
  grid-row: 6 / 7;
  grid-column: 1 / 2;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }
}

.form__item--gooseberry {
  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
  }
}

.form__item--raspberry {
  @media (min-width: $tablet-width) {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
  }
}

.form__label {
  position: relative;
  display: block;
  padding-left: 36px;
}

.form__checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px solid $color--green;
  border-radius: 4px;
}

.form__input--checkbox:checked + .form__checkbox::before {
  position: absolute;
  top: -2px;
  right: -2px;
  content: url("../../images/tick--default.svg");
}

.form__input--checkbox:hover + .form__checkbox {
  border-color: $color--green-hover;
}

.form__input--checkbox:checked:hover + .form__checkbox::before {
  position: absolute;
  top: -2px;
  right: -2px;
  content: url("../../images/tick--hover.svg");
}

.form__input--checkbox:focus + .form__checkbox {
  border-color: $color--purple-hover;
}

.form__input--checkbox:checked:focus + .form__checkbox::before {
  position: absolute;
  top: -2px;
  right: -2px;
  content: url("../../images/tick--focus.svg");
}

.form__input--checkbox:disabled + .form__checkbox {
  border-color: rgba(143, 153, 147, 0.7);
}

.form__label-name {
  font-size: 16px;
  line-height: normal;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }
}

.form__label-name--delivery-type {
  display: block;
}

.form__label-name--delivery br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form__label--storage {
  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 36px;
  }
}

.form__label--mixed-berries {
  @media (min-width: $tablet-width) {
    padding-left: 36px;
  }
}

.form__list--storage {
  display: grid;
  gap: 28px 40px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 10px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, auto);
    gap: 25px 48px;
    max-width: 642px;
  }
}

.form__item--frozen-berries {
  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

.form__list--delivery {
  display: flex;
  flex-wrap: wrap;
  gap: 28px 24px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    gap: 28px 48px;
  }
}

.form__radio {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 2px solid $color--green;
  border-radius: 50%;
}

.form__input--radio:checked + .form__radio::before {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 10px;
  height: 10px;
  background-color: $color--green;
  border-radius: 50%;
  content: "";
}

.form__input--radio:hover + .form__radio {
  border-color: $color--green-hover;
}

.form__input--radio:checked:hover + .form__radio::before {
  background-color: $color--green-hover;
}

.form__input--radio:focus + .form__radio {
  border-color: $color--purple-hover;
}

.form__input--radio:checked:focus + .form__radio::before {
  background-color: $color--purple-hover;
}

.form__input--radio:disabled + .form__radio {
  border-color: rgba(143, 153, 147, 0.7);
}

.form__inputs {
  display: grid;
  gap: 36px;
  max-width: 624px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px 24px;
  }

  @media (min-width: $desktop-width) {
    gap: 37px 24px;
  }
}

.form__label--contacts {
  padding-left: 0;
}

.form__label--phone {
  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}

.form__label--email {
  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}

.form__label-name--contacts {
  display: block;
  margin-bottom: 4px;
  padding-left: 12px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 3px;
  }
}

.form__label-name--required {
  color: $color--error;
}

.form__input {
  width: 100%;
  padding: 15px 12px;
  font-family: "Raleway", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color--black;
  border: 1px solid $color--green;
  border-radius: 20px;

  &::placeholder {
    font-family: "Raleway", "Calibri", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(142, 152, 146, 0.7);
  }

  &:hover {
    border-color: $color--green-hover;
  }

  &:focus {
    outline: 2px solid $color--purple-hover;
  }

  &:active {
    border-color: $color--green-hover;
  }
}

.form__input--invalid {
  border-color: $color--error;
}

.form__tip {
  position: absolute;
  bottom: -24px;
  left: 13px;
  font-size: 16px;
  line-height: 20px;
  color: $color--error;
}

.form__textarea {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__textarea--address {
  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;
    grid-column: 1 / span 2;
  }
}

.form__textarea--request {
  @media (min-width: $tablet-width) {
    grid-row: 4 / 5;
    grid-column: 1 / span 2;
  }
}

.form__label-name--textarea {
  display: block;
  margin-bottom: 9px;
  padding-left: 22px;
  font-size: 14px;
  line-height: normal;

  @media (min-width: $tablet-width) {
    padding-left: 12px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}

.form__input--textarea {
  margin: 0;
  resize: none;
}

.form__input--address {
  min-height: 89px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    min-height: auto;
  }
}

.form__input--request {
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    min-height: 9em;
  }
}

.form__button {
  display: block;
  max-width: 100%;
  margin: auto;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    max-width: min-content;
    padding-right: 104px;
    padding-left: 104px;
    font-size: 28px;
    line-height: normal;
    letter-spacing: 1.4px;
  }
}
