.header {
  position: relative;
  padding-top: 2px;
  padding-bottom: 6px;
  color: #ffffff;
  background-color: #f1f6fc;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 5px;
    box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.25);
    z-index: 1;
    content: "";
  }

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.header--nojs::after {
  top: 63px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 21px;
  padding-left: 26px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 26px;
  }
}
