.intro {
  min-height: 640px;
  padding: 68px 0;
  color: $color--black;
  background-color: #d3d3d3;
  background-image:
    image-set(
      "../../images/intro-bg--mobile@2x.webp" type("image/webp") 2x,
      "../../images/intro-bg--mobile.webp" type("image/webp") 1x,
      "../../images/intro-bg--mobile@2x.png" type("image/png") 2x,
      "../../images/intro-bg--mobile.png" type("image/png") 1x
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    padding: 142px 0 423px;
    background-image:
    image-set(
      "../../images/intro-bg--tablet@2x.webp" type("image/webp") 2x,
      "../../images/intro-bg--tablet.webp" type("image/webp") 1x,
      "../../images/intro-bg--tablet@2x.png" type("image/png") 2x,
      "../../images/intro-bg--tablet.png" type("image/png") 1x
    );
  }

  @media (min-width: $desktop-width) {
    padding: 173px 0 250px;
    background-image:
    image-set(
      "../../images/intro-bg--desktop@2x.webp" type("image/webp") 2x,
      "../../images/intro-bg--desktop.webp" type("image/webp") 1x,
      "../../images/intro-bg--desktop@2x.png" type("image/png") 2x,
      "../../images/intro-bg--desktop.png" type("image/png") 1x
    );
  }
}

.intro__wrapper {
  max-width: 1128px;
  margin: auto;
  padding: 0 28px;

  @media (min-width: $tablet-width) {
    padding: 0 20px 0 186px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 150px 0 336px;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 36px;
  font-family: "Comfortaa", sans-serif;
  font-size: 36px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  color: $color--green;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
    font-size: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    font-size: 52px;
  }
}

.intro__list {
  @include list-style-clear;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 54px;
  padding-right: 34px;
  padding-left: 34px;
  font-size: 16px;
  line-height: normal;

  @media (min-width: 620px) {
    padding: 0 77px;
  }

  @media (min-width: $tablet-width) {
    gap: 24px;
    padding: 0 34px;
    font-size: 18px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    padding: 0 77px;
  }
}

.intro__item {
  position: relative;
  padding-left: 38px;
}

.intro__item::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.intro__item--selective::before {
  content: url("../../images/icon-leaf.svg");
}

.intro__item--frosted::before {
  transform: translate(-2px, -8px);
  content: url("../../images/icon-snowflake.svg");
}

.intro__item--delivery::before {
  transform: translate(-6px, -12px);
  content: url("../../images/icon-delivery.svg");
}
