.logo {
  width: 52px;

  &:hover .logo__leaves {
    fill: $color--green-hover;
  }

  &:active .logo__leaves {
    fill: $color--green;
    fill-opacity: 0.5;
  }

  &:focus {
    border-radius: 2px;
    outline: 2px solid #000000;
  }

  &:focus .logo__icon {
    outline: none;
  }
}

.logo--disabled {
  pointer-events: none;
  cursor: default;
}

.logo__icon {
  display: flex;
  justify-content: start;
}

.logo__leaves {
  fill: $color--green;
}

.logo__name {
  display: none;
  transform: translateX(19px);
}
