.logo {
  width: 52px;

  &:hover .logo__leaves,
  &:hover .logo__name {
    fill: $color--green-hover;
  }

  &:active .logo__leaves,
  &:active .logo__name {
    fill: $color--green;
    fill-opacity: 0.5;
  }

  &:focus {
    border-radius: 2px;
    outline: 2px solid #000000;
  }

  &:focus .logo__icon {
    outline: none;
  }

  @media (min-width:$tablet-width) {
    width: 138px;
  }
}

.logo--disabled {
  pointer-events: none;
  cursor: default;
}

.logo__icon {
  display: flex;
  align-items: center;

  @media (min-width:$tablet-width) {
    height: 58px;
  }
}

.logo__group {
  @media (min-width:$tablet-width) {
    transform: scale(1.1);
  }
}

.logo__leaves {
  fill: $color--green;
}

.logo__name {
  transform: translate(66px, 25%);
  fill: $color--green;

  @media (max-width: $mobile-only) {
    display: none;
  }
}
