.navigation {
  display: flex;
}

.navigation__menu {
  position: absolute;
  top: 68px;
  right: 0;
  left: 0;
  min-height: 360px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: static;
    min-height: auto;
    z-index: 0;
  }
}

.navigation--closed {
  @media (max-width: $mobile-only) {
    .navigation__menu {
      display: none;
    }
  }
}

.navigation--opened {
  .navigation__menu {
    display: flex;
  }
}

.navigation--nojs {
  position: relative;
  left: -26px;
  overflow: hidden;
}

.navigation--nojs .navigation__menu {
  display: block;
  position: relative;
  width: 100vw;
  top: 10px;
  left: 0;
  right: 0;
}

.navigation__menu-button {
  @include button-style-clear;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--closed .navigation__menu-button::before {
  position: absolute;
  top: 17px;
  right: 7px;
  left: 7px;
  height: 5px;
  background-color: $color--green;
  border-radius: 4px;
  box-shadow: 0 12px 0 $color--green,
  0 24px 0 $color--green;
  content: "";
}

.navigation--closed .navigation__menu-button:hover::before {
  background-color: $color--green-hover;
  box-shadow: 0 12px 0 $color--green-hover,
  0 24px 0 $color--green-hover;
}

.navigation--opened .navigation__menu-button::before {
  position: absolute;
  top: 30px;
  right: 5px;
  width: 35px;
  height: 3px;
  background-color: $color--green;
  border-radius: 2px;
  opacity: 0.75;
  transform: rotate(45deg);
  content: "";
}

.navigation--opened .navigation__menu-button::after {
  position: absolute;
  top: 30px;
  right: 5px;
  width: 35px;
  height: 3px;
  background-color: $color--green;
  border-radius: 2px;
  opacity: 0.75;
  transform: rotate(-45deg);
  content: "";
}

.navigation--opened .navigation__menu-button:hover::before,
.navigation--opened .navigation__menu-button:hover::after {
  background-color: $color--green-hover;
  opacity: 1;
}

.navigation--nojs .navigation__menu-button {
  display: none;
}

.navigation__list {
  @include list-style-clear;
  flex-grow: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $color--blue-gray;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    max-width: 650px;
    padding: 0;
  }
}

.navigation__item {
  @media (min-width: $tablet-width) {
    width: 112px;
  }
}

.navigation__link {
  display: block;
  padding: 14px 40px;
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  color: $color--black;
  text-decoration: none;

  &:hover {
    color: $color--green-hover;
  }

  &:active {
    color: $color--green;
  }

  @media (min-width: $tablet-width) {
    padding: 18px 0;
    text-align: center;
  }
}
