.social {
  @include list-style-clear;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 150px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid $color--green;
  border-radius: 50%;
}
